* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(212, 212, 212);
}

.card {
    background-color: white;
}

.discovercardmessage {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    color: #666;
}

.cta-button {
    width: 120px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 125px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cta-button:hover {
    background-color: #45a049;
}

.discovercard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 5px;
}

.discovercard h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.discovercard p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    padding: 0 20px;
}

.discoverinfo {
    background-color: #fff;
    color: #666;
    padding: 5px;
    text-align: center;
    width: 100%;
    border-radius: 0 0 8px 8px;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.discoverimage {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.discovertitle {
    padding: 10px;
    color: #333;
    font-size: 22px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
}

.heroimage {
    width: 100%;
    animation: fade-in 1.5s ease-in-out;
}

.info {
    padding-bottom: 10px;
    text-align: center;
}

.image {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: solid;
    border-radius: 25px;
    animation: fade-in 1.5s ease-in-out;
}

.logo {
    width: 100px;
    height: auto;
    margin: 15px;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
 	position: absolute;
	top: 23rem;
	right: 1rem;
    color: white;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

#message {
    text-align: center;
}

nav {
    display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #444;
}

nav a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #FFC107;
}

.open a {
	display: block;
}

.sub {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}

.title {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
}

/* Contact Us CSS */

.benefits {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.adds {
    margin-left: 10px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
}

.joinmain {
    display: block;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.label {
    margin-right: 10px;
    display: block;
}

.level {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.level p {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
}

.level h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.button {
    background-color: #444;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #777;
}

#description {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Thank you css */

.thankyoubody {
    margin-top: 50px;
    font-family: Arial, sans-serif;
    text-align: center;
}
.thankyoubody h1 {
    color: #333;
}
.thankyoubody p {
    color: #666;
}

/* Directory CSS


/* Weather CSS */
/* CSS for Weather Display */
#currentTemp {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tempbox {
    border: 2px solid #ccc;
    background-color: #888;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

  
#weatherIcon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
figcaption {
    font-size: 18px;
    font-style: italic;
    color: #666666;
    text-transform: capitalize;
}

figure {
    text-align: center;
    margin-top: 15px;
}
  
.forecast-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .forecast-item span {
    margin-right: 10px;
    text-transform: capitalize;
  }
  
  .forecast-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .forecastpara {
    border: 2px solid #ccc;
    background-color: #888;
    color: white;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }

/* Directory */
#toggleView {
    padding: 10px 20px;
    margin: 20px;
    background-color: #4CAF50;
    color: white; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#toggleView:hover {
    background-color: #ff8c00;
}

.grid-view {
    display: flex;
    flex-wrap: wrap;
}

.grid-view .member-card {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    text-align: center;
}

.member-card h2 {
    font-size: 30px;
}

.grid-view .member-card {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.member-card img {
    max-width: 100%;
    height: auto;
}

.list-view {
    display: block;
}

.list-view .member-card {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    font-size: 15px;
    margin: 10px;
}

.list-view .member-card p {
    margin: 10px;
}

.list-view .member-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Spotlight */
.spotlights {
    display: flex;
    flex-direction: column;
}

.spotlights h2{
   text-align: center;
}
.spotlight {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 45px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.spotlight img {
    width: 100%;
    border-radius: 10px;
}

.spotlight p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.spotlight a {
    color: #777;
    text-decoration: none;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.spotlight a:hover {
    color: #FFC107;
}

  /* Banner */
.banner {
    display: none;
    background-color: #999;
    color: white;
    padding: 40px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px black;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.banner.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.banner.hide {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}