@media (min-width: 37.5em) {

    .cta {
        display: inline-block;
        text-align: center;
    }

    .cta button {
        display: inline;
        margin: 5px;
    }

    .cta h1 {
        display: inline;
        margin-left: 50px;
    }

    .cta p {
        display: inline-block;
    }

    .discovermain {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
    }

    .discovercardmessage {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .discovercard1 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin: 100px;
        justify-content: center;
    }

    .discovercard2 {
        grid-row: 4 / 6;
        grid-column: 1 / 2;
        margin: 100px;
        margin-bottom: 700px;
        justify-content: center;
    }

    .discovercard3 {
        grid-row: 6 / 8;
        grid-column: 1 / 2;
        margin: 100px;
        margin-bottom: 300px;
    }

    .discoverattract1 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        margin: 10px;
        margin: 100px;
    }

    .discoverattract2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        margin: 100px;
    }

    .discoverattract3 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        margin: 100px;
    }

    .discoverattract4 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        margin: 100px;
    }

    .discoverattract5 {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        margin: 100px;
    }

    .discoverattract6 {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
        margin: 100px;
    }

    .discoverattract7 {
        grid-row: 8 / 9;
        grid-column: 2 / 3;
        margin: 100px;
    }

    .discoverimage {
        height: auto;
    }

    .discoverimage:hover {
        opacity: 0.8;
        transform: scale(0.99);
    }

    .discoverinfo {
        width: auto;
    }

    .image {
        margin-left: 170px;
    }

    .heroimage {
        height: 500px;
    }
    
    #menu {
        display: none;
    }  

    .open a {
        display: block;
    }

    .navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
        font-weight: bold;
	}

    .navigation a:hover {
        font-weight: 1000;
    }

/* Join css larger */

    .joingrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

/* Spotlight */
    .spotlights {
        display: flex;
        flex-direction: row;
    }

    /* Directory */
    .list-view .member-card{
        display: flex;
        width: 100%;
    }

    .list-view .member-card h2 p{
        margin: 10px;
    }

    .grid-view {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
