* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    line-height: 2;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.name {
    font-size: 50px;
    vertical-align: middle;
    padding-left: 50px;
}

.image {
    border-radius: 150px;
    width: 150px;
    height: 150px;
    vertical-align: middle;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

nav a:hover {
    color: #ffc107;
}

main {
    padding: 20px;
    display: grid;
    grid-template-rows: 75px 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.title {
    color: #444;
    /* margin-bottom: 10px; */
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding-left: 100px;
    /* border-bottom: solid; */
}

.sub {
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

li {
    list-style: none;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px black;
}

.card1 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.card2 {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.info {
    text-align: center;
    margin-top: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer img {
    width: 75px;
    height: 50px;
    vertical-align: middle;
    margin-left: 5px;
}

.lastmodified {
    font-family: Arial, sans-serif;
}