@media screen and (min-width: 32rem) {
    .card1 {
        grid-row: 2 / 4;
        grid-column: 1 / 3;
    }
    
    .card2 {
        grid-row: 2 / 4;
        grid-column: 3 / 4;
    }
    
    .open a {
        display: block;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

    #mode {
        top: 7rem;
    }

    .navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
}